* {
  margin: 0;
}

.App {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Mono', monospace;
  font-size: 25px;
  min-height: 100vh;
  text-align: center;
  width: 100%;
}

body {
  background-color: #282c34;
}

input {
  font-family: 'Roboto Mono', monospace;
}

@media only screen and (max-width: 1012px) {
  .App {
    font-size: calc(6px + 2vw);
  }
}