* {
  margin: 0;
}

.App {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Mono', monospace;
  font-size: calc(6px + 2vmin);
  min-height: 100vh;
  text-align: center;
  width: 100%;
}

body {
  background-color: #282c34;
}

input {
  font-family: 'Roboto Mono', monospace;
}
