
.correct-word {
    color:green;
}

.correct-character {
    color: rgba(255,255,255,0.2);
}

.current-word {
    text-decoration: underline;
}

.incorrect-word {
    color: darkred;
}
.incorrect-character {
    color: darkred;
}