.leaderboard h4 {
  font-weight: 400;
  text-decoration: underline;
}

.leaderboard ol {
  text-align: start;
  font-size: 23px;
}

.leaderboard svg {
  color: #D1AB35;
}

.loading-container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 90px;
}

.most-recent {
  font-size: 20px;
  padding-top: 2vh;
}

@media only screen and (max-width: 1012px) {
  .leaderboard ol {
    font-size: calc(2px + 2vw);
    padding-inline-start: 4.5vw;
  }

  .loading-container {
    height: 9vw;
  }

  .most-recent{
    font-size: 2vw;
  }
}

@media only screen and (max-width: 500px) {
  .leaderboard ol {
    padding-inline-start: 5vw;
  }

  .loading-container .css-1ujetdd {
    height: 25px;
    width: 25px;
  }
}