.graph-icon {
  margin-top: 0.6vh;
  color: #8997B3;
}

.local-stats {
  margin-top: 3vh;
}

.local-stats h4 {
  font-weight: 400;
  text-decoration: underline;
}

.local-stats li {
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}

.local-stats ul {
  border-right: 1px solid white;
  margin-top: 4vh;
  padding: 0;
  padding-right: 1.5vw;
  text-align: start;
}

.name-input {
  background-color: #282c34;
  border: none;
  border-bottom: 1px solid white;
  border-radius: 4px 4px 0 0;
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
  font-weight: 500;
  outline: none;
  text-align: center;
  width: 80px;
}

.name-input:hover {
  background-color: #49505c;
}

.stat-details {
  align-items: baseline;
  display: flex;
  font-size: 20px;
  text-align: start;
}

.stat-value {
  font-size: 18px;
}

@media only screen and (min-width:1921px) {
  .name-input {
    width: 120px;
  }
}

@media only screen and (max-width: 1012px) {
  .local-stats li {
    font-size: 1.8vw;
  }
  .stat-details, .stat-value {
    font-size: 2vw;
  }
  .name-input {
    font-size: calc(2px + 2vw);
  }
}

@media only screen and (max-width: 812px) {
  .name-input {
    width: 60px;
  }
}
