.results-difference {
  display: inline-flex;
  align-items: baseline;
}

.negative {
  color: #B43829;
}

.positive {
  color: #418947;
}

.results-difference svg {
  align-self: center;
}


